{% extends 'base.html.twig' %}

{% block title %}Employes index{% endblock %}

{% block body %}
    <h1>Employes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Sex</th>
                <th>Adresse</th>
                <th>DateNaissance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employe in employes %}
            <tr>
                <td>{{ employe.id }}</td>
                <td>{{ employe.nom }}</td>
                <td>{{ employe.prenom }}</td>
                <td>{{ employe.sex }}</td>
                <td>{{ employe.adresse }}</td>
                <td>{{ employe.dateNaissance ? employe.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_employes_show', {'id': employe.id}) }}">show</a>
                    <a href="{{ path('app_employes_edit', {'id': employe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_employes_new') }}">Create new</a>
{% endblock %}
