{% extends 'base.html.twig' %}

{% block title %}Notes{% endblock %}

{% block body %}

    <br>
    <h1>Your notes in {{ module.name }} :</h1>
    <br>

    <a href="{{ path('app_notes_new', {'id' : module.id}) }}" class="btn btn-secondary">Create new note</a>
    <br>
    <br>

    <div class="container">
    <div class="row">

    {% for note in notes %}
        <div class="card bg-light text-dark border-light col-md-6" style="max-width: 20rem; margin: 1.5em">
            <div class="card-header">
                Created at <span class="font-italic">{{ note.createdAt ? note.createdAt|date('Y-m-d H:i:s') : '' }}</span>
            </div>
            <div class="card-body">
                <p class="card-text">{{ note.content }}</p>
                <a href="{{ path('app_notes_edit', {'id': note.id}) }}" class="btn btn-secondary">show</a>
            </div>
            <div class="card-footer text-muted">
                Updated at <span class="font-italic">{{ note.updatedAt ? note.updatedAt|date('Y-m-d H:i:s') : '' }}</span>
            </div>
        </div>
        <br> <hr> <br>
        {% else %}
            <p colspan="3" class="font-italic">no records found</p>
        {% endfor %}

    
    </div>
    </div>

    <hr>
    <br>
    <a href="{{ path('app_modules_index') }}" class="btn btn-secondary">Back to modules list</a>
{% endblock %}